<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Spotify-Web Player:Music For Everyone</title>
</head>
<div class="container-fluid container-md container-xl side-nav">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid container-md container-xl">
      <!-- <button style="filter: invert();" class="navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"><img class="logo"
                src="/assets/images/spotify logo.png"></a>
          </li>
          <li class="nav-item mt-2">
            <a class="nav-link active" aria-current="page" href="#"> <img class="nav-img"
                src="/assets/svg/home_FILL0_wght400_GRAD0_opsz48.svg"> Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"> <img src="/assets/svg/search_FILL0_wght400_GRAD0_opsz48.svg" class="nav-img">
              search</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"> <img src="/assets/svg/library_add_FILL0_wght400_GRAD0_opsz48.svg"
                class="nav-img"> Library</a>
          </li>
          <li class="nav-item mt-3">
            <a class="nav-link" href="#"> <img src="/assets/svg/search_FILL0_wght400_GRAD0_opsz48.svg" class="nav-img">
              Create Playlist</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"> <img src="/assets/svg/favorite_FILL0_wght400_GRAD0_opsz48.svg"
                class="nav-img"> liked Song</a>
          </li>
          <!-- <li class="nav-item mt-10">
            <a class="nav-link" href="#"> <img src="/assets/svg/favorite_FILL0_wght400_GRAD0_opsz48.svg"
                class="nav-img"> language</a>
          </li> -->
        </ul>

      </div>
    </div>
  </nav>
</div>

<body>
  <div class="container-fluid header ">
    <div class="row">
      <div class="container col-md-6 col-xl-6 mt-3">
        <span class="mt-3 arrow"> <img src="/assets/svg/arrow_back_ios_FILL0_wght400_GRAD0_opsz48.svg" alt=""></span>
        <span class="mt-3 arrow"> <img src="/assets/svg/arrow_forward_ios_FILL0_wght400_GRAD0_opsz48.svg" alt=""></span>

      </div>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end col-xl-6 col-md-6">
        <button class="btn me-md-2 mt-3 btn-1" type="button">Sign Up</button>
        <button class="btn btn-dark mt-3 btn-2" type="button">Log In</button>
      </div>
    </div>
  </div>

  <div class="container-fluid thumb row ">
    <span>
      <h2 class="mt-3 sen hov"><a href="#">Focus</a> </h2>
      <p class="seen mt-3 hov"> <a href="#"> See All</a></p>

    </span>
    <!-- <span>
      <p class="seen">See All</p>
    </span> -->
    <div class="img col-md-2 col-xl-2 mx-2 ">

      <span>
        <img class="thum-img" src="/assets/Song Img/0 (1).jpg">
        <img class="play" src="/assets/svg/play.svg" >
        <h6 class="song-name mt-3">PeaceFul Music </h6>
        <p class="detail">Lorem ipsum dolor sit amet consectetur.</p>
      </span>
    </div>
    <div class="img col-md-2 col-xl-2  mx-2">
      <span>
        <img class="thum-img" src="/assets/Song Img/0 (2).jpg">
        <img class="play" src="/assets/svg/play.svg" >
        <h6 class="song-name mt-3">PeaceFul Music </h6>
        <p class="detail">Lorem ipsum dolor sit amet consectetur.</p>
      </span>
    </div>
    <div class="img col-md-2 col-xl-2  mx-2">
      <span>
        <img class="thum-img" src="/assets/Song Img/0 (3).jpg">
        <img class="play" src="/assets/svg/play.svg" >
        <h6 class="song-name mt-3">PeaceFul Music </h6>
        <p class="detail">Lorem ipsum dolor sit amet consectetur.</p>
      </span>
    </div>
    <div class="img col-md-2 col-xl-2  mx-2">
      <span>
        <img class="thum-img" src="/assets/Song Img/0 (4).jpg">
        <img class="play" src="/assets/svg/play.svg" >
        <h6 class="song-name mt-3">PeaceFul Music </h6>
        <p class="detail">Lorem ipsum dolor sit amet consectetur.</p>
      </span>
    </div>
    <div class="img col-md-2 col-xl-2  mx-2">
      <span>
        <img class="thum-img" src="/assets/Song Img/0 (5).jpg">
        <img class="play" src="/assets/svg/play.svg" >
        <h6 class="song-name mt-3">PeaceFul Music </h6>
        <p class="detail">Lorem ipsum dolor sit amet consectetur.</p>
      </span>
    </div>
    <div class="img col-md-2 col-xl-2  mx-2">
      <span>
        <img class="thum-img" src="/assets/Song Img/0 (6).jpg">
        <img class="play" src="/assets/svg/play.svg" >
        <h6 class="song-name mt-3">PeaceFul Music </h6>
        <p class="detail">Lorem ipsum dolor sit amet consectetur.</p>
      </span>
    </div>

    <div class="img col-md-2 col-xl-2  mx-2">
      <span>
        <img class="thum-img" src="/assets/Song Img/0 (7).jpg">
        <img class="play" src="/assets/svg/play.svg" >
        <h6 class="song-name mt-3">PeaceFul Music </h6>
        <p class="detail">Lorem ipsum dolor sit amet consectetur.</p>
      </span>
    </div>
    <div class="img col-md-2 col-xl-2  mx-2">
      <span>
        <img class="thum-img" src="/assets/Song Img/0 (8).jpg">
        <img class="play" src="/assets/svg/play.svg" >
        <h6 class="song-name mt-3">PeaceFul Music </h6>
        <p class="detail">Lorem ipsum dolor sit amet consectetur.</p>
      </span>
    </div>
    <div class="img col-md-2 col-xl-2  mx-2">
      <span>
        <img class="thum-img" src="/assets/Song Img/0 (9).jpg">
        <img class="play" src="/assets/svg/play.svg" >
        <h6 class="song-name mt-3">PeaceFul Music </h6>
        <p class="detail">Lorem ipsum dolor sit amet consectetur.</p>
      </span>
    </div>
    <div class="img col-md-2 col-xl-2  mx-2">
      <span>
        <img class="thum-img" src="/assets/Song Img/0 (10).jpg">
        <img class="play" src="/assets/svg/play.svg" >
        <h6 class="song-name mt-3">PeaceFul Music </h6>
        <p class="detail">Lorem ipsum dolor sit amet consectetur.</p>
      </span>
    </div>
    <div class="img col-md-2 col-xl-2  mx-2">
      <span>
        <img class="thum-img" src="/assets/Song Img/0 (11).jpg">
        <img class="play" src="/assets/svg/play.svg" >
        <h6 class="song-name mt-3">PeaceFul Music </h6>
        <p class="detail">Lorem ipsum dolor sit amet consectetur.</p>
      </span>
    </div>
    <div class="img col-md-2 col-xl-2  mx-2">
      <span>
        <img class="thum-img" src="/assets/Song Img/0 (12).jpg">
        <img class="play" src="/assets/svg/play.svg" >
        <h6 class="song-name mt-3">PeaceFul Music </h6>
        <p class="detail">Lorem ipsum dolor sit amet consectetur.</p>
      </span>
    </div>
    <div class="img col-md-2 col-xl-2  mx-2">
      <span>
        <img class="thum-img" src="/assets/Song Img/0 (13).jpg">
        <img class="play" src="/assets/svg/play.svg" >
        <h6 class="song-name mt-3">PeaceFul Music </h6>
        <p class="detail">Lorem ipsum dolor sit amet consectetur.</p>
      </span>
    </div>
    <div class="img col-md-2 col-xl-2  mx-2">
      <span>
        <img class="thum-img" src="/assets/Song Img/0 (14).jpg">
        <img class="play" src="/assets/svg/play.svg" >
        <h6 class="song-name mt-3">PeaceFul Music </h6>
        <p class="detail">Lorem ipsum dolor sit amet consectetur.</p>
      </span>
    </div>
    <div class="img col-md-2 col-xl-2  mx-2">
      <span class="list">
        <img class="thum-img" src="/assets/Song Img/0 (15).jpg">
        <img class="play" src="/assets/svg/play.svg" >
        <h6 class="song-name mt-3">PeaceFul Music </h6>
        <p class="detail">Lorem ipsum dolor sit amet consectetur.</p>
      </span>
    </div>
  </div>

</body>

</html>